aniso8601==9.0.1
attrs==21.4.0
black==22.1.0
ca-certificates==2020.10.14
certifi==2021.10.8
click==8.0.3
dataclasses==0.8
flask==1.1.2
flask-cors==3.0.9
flask-restful==0.3.9
flask-restplus==0.13.0
freetype==2.10.4
gunicorn==20.1.0
icu==68.2
importlib-metadata==4.11.1
importlib_resources==5.4.0
itsdangerous==2.0.1
jinja2==3.0.3
jpeg==9e
jsonschema==4.4.0
lcms2==2.12
libcxx==12.0.0
libffi==3.4.2
libiconv==1.16
libpng==1.6.37
libtiff==4.2.0
libwebp-base==1.2.2
libxml2==2.9.12
libxslt==1.1.33
lxml==4.7.1
lz4-c==1.9.3
markupsafe==2.0.1
mypy_extensions==0.4.3
ncurses==6.3
olefile==0.46
openssl==3.0.0
os==0.1.4
pathspec==0.9.0
pillow==7.2.0
pip==21.2.4
platformdirs==2.5.0
pyrsistent==0.18.1
python==3.9.7
python-dateutil==2.8.2
python-dotenv==0.19.2
python-pptx==0.6.21
python_abi==3.9
pytz==2021.3
qutil==3.2.1
readline==8.1.2
setuptools==58.0.4
six==1.16.0
sqlite==3.37.2
tk==8.6.11
tomli==2.0.1
typed-ast==1.5.2
typing_extensions==4.0.1
tzdata==2021e
werkzeug==0.16.0
wheel==0.37.1
xlsxwriter==3.0.2
xz==5.2.5
zipp==3.7.0
zlib==1.2.11
zstd==1.4.9